html {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(0, 0, 0, 0.6)
  );
  background-color: #fffa02;
  animation: rgb 30s infinite alternate;
  height: 100%;
  width: 100%;
}

@keyframes rgb {
  10% {
    background-color: #ff6b02;
  }
  20% {
    background-color: #ff0602;
  }
  30% {
    background-color: #ff0289;
  }
  40% {
    background-color: #bf02ff;
  }
  50% {
    background-color: #022cff;
  }
  60% {
    background-color: #02bfff;
  }
  70% {
    background-color: #02ffbb;
  }
  80% {
    background-color: #02ff28;
  }
  90% {
    background-color: #63ff02;
  }
  100% {
    background-color: #c8ff02;
  }
}

a,
li,
ul {
  list-style-type: none;
  text-decoration: none;
}
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-left: 25px;
  padding-bottom: 13px;
}
.input {
  width: 670px;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 16px;
  border: none;
  border: 1px solid dodgerblue;
  border-radius: 19px;
}
.input:active {
  border: 1px solid dodgerblue;
}

.input:hover {
  border: 1px solid dodgerblue;
}
